ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 14px;
  color: var(--ion-color-medium);
}

ion-card-content {
  font-size: 15px;
  line-height: 1.4;
}

ion-menu {
  --width: 260px;
}

ion-item[color="danger"] {
  margin-top: 24px;
}