ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 14px;
  color: var(--ion-color-medium);
}

ion-card-content {
  font-size: 15px;
  line-height: 1.4;
}

ion-menu {
  --width: 260px;
}

ion-item[color="danger"] {
  margin-top: 24px;
}
ion-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
