<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <ion-list lines="none">
<div class="contenedor fila">
  <ion-item class="item-flex">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
  </ion-item>

  <ion-item class="item-flex">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input formControlName="lastName" type="text"></ion-input>
  </ion-item>
</div>

        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="passwordRaw" type="password"></ion-input>
        </ion-item>

<!-- Buscador de país -->

<!-- Buscador y Select -->
<div class="contenedorlbl">
  <ion-label>Busca tu país</ion-label>
  <ion-label>Selecciona tu país</ion-label>
</div>

<div class="contenedor fila">
  <ion-item class="item-flex">
    <ion-searchbar
      [(ngModel)]="countrySearch"
      [ngModelOptions]="{standalone: true}"
      placeholder="EJ:Colombia"
      debounce="300"
      (ionInput)="filterCountries()"
      showCancelButton="focus"
      animated="true">
    </ion-searchbar>
  </ion-item>

  <ion-item class="item-flex">
    <ion-select formControlName="country" interface="popover">
      <ion-select-option *ngFor="let c of filteredCountries" [value]="c">
        <img [src]="c.flagUrl" width="24" height="18" style="margin-right: 8px;" />
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</div>

        <div class="button-group">
          <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" color="success">
            Registrarme
          </ion-button>

          <ion-text color="medium" class="login-link">
            ¿Ya tienes cuenta?
            <a routerLink="/login">Inicia sesión</a>
          </ion-text>
        </div>

      </ion-list>
    </form>
  </div>
</ion-content>