<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-input
      formControlName="name"
      label="Nombre"
      type="text">
    </app-input>

    <app-input
      formControlName="lastName"
      label="Apellido"
      type="text">
    </app-input>

    <app-input
      formControlName="email"
      label="Correo"
      type="email">
    </app-input>

    <app-input
      formControlName="passwordRaw"
      label="Contraseña"
      type="password">
    </app-input>

    <app-select
      formControlName="country"
      label="País"
      [options]="countries">
    </app-select>

    <app-button
      [type]="'submit'"
      [disabled]="registerForm.invalid">
      Registrarme
    </app-button>

    <app-link
      [routerLink]="'/login'">
      ¿Ya tienes cuenta? Inicia sesión
    </app-link>
  </form>

</ion-content>
